.card {
  height: 25rem;
  max-width: 200px;
}
.card:hover {
  box-shadow: 5px 10px 20px 2px rgba(240, 219, 219, 0.273);
  transition: all 0.4s linear;
}

.card-body {
  padding: 2rem 1rem !important;
  min-width: 200px;
}

.card-title {
  padding: 0.3rem 1rem !important;
  font-weight: bold;
  font-size: 14px;
}

.card-text {
  padding: 0.3rem 1rem !important;
  font-size: 12px;
}

.overflow {
  overflow: hidden;
}

.card-image-top {
  transition: all 0.2s ease-in-out;
}

.card-image-top:hover {
  transform: scale(1.8);
}
